body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: bisque;
}

.title {
    margin: 0px 0px 10px 0px;
    font-size:25px;
    font-weight: 500;
    font-style: italic;
}
.products {
    margin: 0px 10px 5px 10px;
    background-color: white;
    border-width: 1px;
    border-radius: 10%;
}

.cart {
    padding: 1px 15px;
}

.box {
    background-color: pink;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.imgCards {
    height: 150px;
    width: 150px;
}

.row {
    display: flex;
}

.imgRow {
    height: 100px;
    width: 100px;
}


