@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: white;
}

.title {
    margin: 0px 0px 10px 0px;
    font-size:25px;
    font-weight: 500;
    font-style: italic;
}
.products {
    margin: 0px 10px 5px 10px;
    background-color: white;
    border-width: 1px;
    border-radius: 10%;
}

.cart {
    padding: 1px 15px;
}

.box {
    background-color: #f7cfff;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.imgCards {
    height: 150px;
    width: 150px;
}

.row {
    display: flex;
    align-items: center;
}

.imgRow {
    height: 100px;
    width: 100px;
}

.counter {
    background-color: #F0F0F0;
    padding: 2px 6px;
    border-width: 1px;
    border-radius: 10%;
    border-color: black;
    width: 10px;
}

.page.change {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}
.cardStyle {
    text-align: center;
    padding: 20px; 
}

.textCart {
    margin: 10px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.pRow {
    align-content: center;
    margin: 10px;
    font: message-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* .dButton {
    align-content: center;
    width: 22px;
    height: 22px;
} */